.stepper {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
}
.step {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.step-number {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
  z-index: 2;
}
.step-name{
    font-size: 14px;
}
.active .step-number{
    background-color: #007BFF;
    color: #fff;
}
.complete .step-number{
    background-color: #28A745;
    color: #fff;
}